{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Сгенерировать задачу</title>
    <link rel="stylesheet" href="{% static 'main/css/kid_create_tasks.css' %}">
    <script src="{% static 'main/js/kid_c_t.js'%}"></script>
    <script src="{% static 'main/js/jquery-3.7.0.js'%}"></script>

</head>
<body>
    <div id = "header">
            <div id = "logo"><img src="{% static 'main/img/children.png' %}" width="50" height="50" alt="Иконка ученика"></div>
            <div id = "header_icon_title"><p>Комната школьника</p></div>
            <div id = "main_title"><a href="{% url 'home' %}" class = "header_words">Главная страница</a></div>
            <div id = "create_tasks"><a href="{% url 'create_tasks' %}" class = "header_words">Создать набор задач</a></div>
            <div id = "cabinet"><a href="{% url 'account' %}" class = "header_words">Личный кабинет</a></div>
    </div>
    <div id = "white_background">
        <div id = "main_field">
            <div class = "theme_one">
<!--                <div class="theme_one">-->
<!--                    <p class = "theme">Тема</p>-->
<!--                    <select name="choose_theme_dropbox" id = "1_dropbox">-->
<!--                        <option value="Давление" selected>Давление</option>-->
<!--                        <option value="Мощность" >Мощность</option>-->
<!--                        <option value="Кинематика">Кинематика</option>-->
<!--                        <option value="Электродинамика">Электродинамика</option>-->
<!--                    </select>-->
<!--                    <input type="button" id = "butt_generate" value="Сгенерировать задачу" onclick="button_click_generate_task_for_kid()"/>-->
<!--                </div>-->
                    <p class = "theme">Тема</p>
                    <select name="choose_theme_dropbox" id = "1_dropbox">
                        <option value="Давление" selected>Давление</option>
                        <option value="Мощность" >Мощность</option>
                        <option value="Кинематика">Кинематика</option>
                        <option value="Электродинамика">Электродинамика</option>
                   </select>
                <input type="button" id = "butt_generate" value="Сгенерировать задачу" onclick="button_click_generate_task_for_kid()"/>
                <input type="button" id = "butt_answer" value="Помощь" onclick="button_click_answ_for_kid()"/>

            </div>
            <div>
                <p id = "answr_and_frml">

                </p>
                <p id = "gener_task">
                    Вычислите время за которое муравей преодолеет 375 м со скоростью 17 см/с.
                    </p>
            </div>
            <div id = "answer_form">
                <form id = "answer">
                    <label id = "input_answ">
                        Введите ответ :
                        <input type="text" id = "task_options_area">
                    </label>
                    <div>
                    <button type = "button" id = "check_answer" onclick="check_answ()">Проверить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>